*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    /*background-color: white;*/
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/Users/rschavali02/Desktop/CSHSWebsite/BackG.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px; 
}
.nav-links ul li::after{
    content: '';
    width: 75%;
    height: 2px;
    background: darkslateblue;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 35px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
    color: white
}
.button1{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button1:hover{
    border: 1px solid #113c88;
    background: #113c88;
    transition: 1s;
}

/* About */
.About{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
h2{
    font-size: 30px;
    font-weight: 400;
}
h5{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
h3{
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.row{
    margin: 0.5%;
    display: flex;
    justify-content: space-between;
}
.core{
    margin: 5%;
    display: inline;
}
.corevalue{
    flex-basis: 31%;
    background:#113c88;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 15px;
    } 
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: darkslateblue;
        height: 100vh;
        width: 200px ;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
*/

/* comment */ 

